@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
  color: #303030;
}

.gradient-text {
  background: #1262af;
  background: -webkit-linear-gradient(45deg, #1262af 30%, #299bd8 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: #1262af;
  background: -webkit-linear-gradient(45deg, #1262af 48%, #299bd8 80%);
}

@layer components {
  .input-group {
    @apply relative border border-gray-400 focus:border focus:border-primary active:border-primary px-4 py-1 my-auto shadow-sm rounded-lg;
  }
  .label {
    @apply block text-sm font-normal leading-6 text-gray-900 absolute -top-3 left-3 bg-white px-1;
  }
  .input {
    @apply block w-full rounded-md border-0 outline-none py-1.5 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6;
  }
  .btn {
    @apply inline-flex gap-2 items-center justify-center font-semibold px-4 py-2 rounded-md shadow-md transition-all ease-in-out duration-500;
  }
  .btn.btn-primary {
    @apply bg-primary text-white hover:opacity-85;
  }
  .btn.btn-orange {
    @apply bg-[#F99A0E] text-white py-3 hover:opacity-85 font-semibold;
  }
}
